@import "mixins";

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./assets/fonts/Montserrat-Medium/Montserrat-Medium.eot?v=4.7.0');
  src: url('./assets/fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('./assets/fonts/Montserrat-Medium/Montserrat-Medium.woff2?v=4.7.0') format('woff2'),
  url('./assets/fonts/Montserrat-Medium/Montserrat-Medium.woff?v=4.7.0') format('woff'),
  url('./assets/fonts/Montserrat-Medium/Montserrat-Medium.ttf?v=4.7.0') format('truetype'),
  url('./assets/fonts/Montserrat-Medium/Montserrat-Medium.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat-Medium", sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
  padding:0 20px;
  @include max(768px){
    max-width: 650px;
    padding: 0 10px;
  }
}

.wishlist {
  &::before {
    content: '';
    cursor: pointer;
    display: block;
    background-image: url("./assets/icons/wishlist_unselected.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

  &.selected {
    &::before {
      background-image: url("./assets/icons/wishlist_selected.svg");
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}