@import "../../mixins";

.product {
  display: flex;
  background-color: #eae8e8;
  padding: 15px;
  @include max(768px) {
    flex-direction: column;
  }
  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px;
    background-color: #FFF;
    margin-right: 10px;
    border: 1px solid #e6e6e6;
    @include max(768px) {
      margin: 0;
    }
    img {
      display: block;
      width: 240px;
    }
    .wishlist {
      position: absolute;
      top: 25px;
      right: 25px;
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    .top-info {
      background-color: #FFF;
      border: 1px solid #e6e6e6;
      padding-top: 15px;
      margin-bottom: 15px;
      min-height: 155px;
      .top-info-padding {
        padding: 0 15px;
      }
      h3,p {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .measurements {
        margin-bottom: 15px;
        p {
          &.measure-label {
            font-weight: bold;
            margin:0;
          }
          &.measure-value {
              margin-bottom: 0;
          }
        }
      }

      .purchase-options {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e6e6e6;
        a {
          cursor: pointer;
          display: block;
          width: 50%;
          text-align: center;
          color: #c2a661;
          text-transform: uppercase;
          font-size: 14px;
          padding: 10px;

          &:first-of-type {
            border-right: 1px solid #e6e6e6;
          }
        }
      }
    }
    .bottom-info {
      padding: 15px;
      background-color: #FFF;
      min-height: 75px;
      p {
        margin: 0;
        &.description {
          margin-bottom: 10px;
        }
        &.creator {
          font-weight: bold;
          span {
            font-weight: normal;
          }
        }
      }
    }
  }
}